<div class="row">
  <div class="col-md-1"></div>
  <div id="main" class="col-md-10">
    <div id="logo" class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center" style="margin-top: 10%">
        <%= image_tag 'logo.jpeg', alt: "Logo", class: "img-fluid rounded"%>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div id="search_bar" class="row" style="margin-top: 3%">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <%= form_tag search_path, method: :get do %>
          <input type="text" name="key_word" placeholder="<%= @recommend.name %>" class="form-control" required>
          <button class="btn btn-primary" style="margin-top: 15px">剁手肯定是要剁手的</button>
        <% end %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<footer class="footer-copyright text-center" style="padding-top: 5px">
  Copyright © 2019-2020 <a href="mailto:853172766@qq.com">Nocturne</a>
</footer>