<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" id="main">
    <h3 class="text-center">搜索结果如下</h3> <br>
    <%
      i = 0
      @items.each do |item|
    %>
      <% if i % 4 == 0 %>
        <div class="row">
      <% end %>
      <div class="col-md-3 item_block" id="<%= item[:id] %>" style="cursor: pointer">
        <%= image_tag "item_images/#{item[:id]}.jpg", class: 'img-fluid', style: 'margin-bottom: 5px'%>
        <h3><%= item[:name] %></h3>
        <p><%= item[:description] %></p>
      </div>
      <% if i % 4 == 3 %>
        </div>
      <% end %>
    <%
      i += 1
      end
    %>
    <% if @items.all.count % 4 != 0 %>
      </div>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>

<script>
  $(document).ready(function(){
      $(".item_block").click(function(){
          let item_id = $(this).attr("id");
          location.href = 'http://' + location.host + '/items/' + item_id;
      });
  });
</script>